<!-- template -->
<template id="console_window">
    <div class="console">
        <!-- side-panel -->
        <div class="side-panel">
            <!-- Heading -->
            <div class="heading">
                <!-- Workspace Selector -->
                <div class="workspace-selector-wrapper">
                    <div class="workspace-selector" title="Select your workspace.">
                        <!-- Workspace Image -->
                        <div class="workspace-image">
                            <img src="/static/img/pineapple.png">
                        </div>
                        <!-- Workspace Detail -->
                        <div class="div-flex ts">
                            <div>
                                <div><strong>Wapazock</strong></div>
                                <div style="font-family: 'Ubuntu-Light';margin-top: 4px;">Workspace</div>
                            </div>
                        </div>
                        <!-- Up and Down Arrows -->
                        <div class="up-down">
                            <div class="div-flex center" style="margin-top: 4px;">
                                <i class="fas fa-angle-up"></i>
                            </div>
                            <div class="div-flex center">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <div class="navigation">
                <div class="menu">
                    <div class="item div-flex center"  style="margin-top: 20px;">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="item div-flex center"  v-for="menu in getMainMenu" v-on:click="goto(menu.redirect)" v-bind:class="{selected : menu.route == $route.params.menu}">
                        <i v-bind:class="[menu.icon]"></i>
                    </div>
                </div>
                <div class="sub-menu" >
                    <div v-for="subMenu in getMenu.subMenu" v-on:click="goto(subMenu.redirect)" v-bind:class="{selected : subMenu.route == $route.params.sub_menu}" class="item tm">
                        [[subMenu.text]]
                    </div>
                </div>
            </div>
        </div>
        <!-- main panel -->
        <div class="main-panel">
            <!-- Page -->
            <router-view></router-view>
        </div>
    </div>
</template>

<!-- Script -->
<script>
    const ConsoleWindow = Vue.component('console_window', {
        template: "#console_window",
        delimiters: ['[[', ']]'],
        data: function() {
            return {
                menu: {
                    network: {
                        subMenu: [{
                            route: "NetworkServers",
                            text: "Network Servers",
                            redirect: "/Console/Network/NetworkServers/Servers/ActiveServers"
                        }, {
                            text: "NetworkServerLogs",
                            route: "NetworkServerLogs",
                            redirect: "/Console/Network/NetworkServerLogs/Logs/AllLogs/Server/All"
                        }, {
                            route: "NetworkWatchEvents",
                            text: "Network Watch Events",
                            redirect: "#"
                        }],
                        icon: "fa-solid fa-diagram-project",
                        route: "Network",
                        redirect: '/Console/Network/NetworkServers/Servers/ActiveServers'
                    },
                    applications: {
                        subMenu: [{
                            route: "Applications",
                            text: "Applications",
                            redirect: "/Console/Applications/Applications/Apps/All"
                        }, {
                            text: "Application Logs",
                            route: "ApplicationLogs",
                            redirect: "/Console/Applications/ApplicationLogs/AppLogs/AllLogs/Application/All"
                        }, {
                            route: "NetworkWatchEvents",
                            text: "Network Watch Events"
                        }],
                        icon: "fas fa-dice-d6",
                        route: "Applications",
                        redirect: "/Console/Applications/Applications/Apps/All"
                    },
                    settings: {
                        subMenu: [],
                        icon: "fa-solid fa-gear",
                        route: "/Console/Settings/All"
                    }

                }

            }
        },
        methods: {
            goto: function(menu) {
                try {
                    router.push(menu)
                } catch {

                }
            }
        },
        computed: {
            getMenu: function() {
                switch (this.$route.params.menu) {
                    case "Network":
                        return this.menu.network
                    case "Applications":
                        return this.menu.applications
                    default:
                        return []
                }
            },
            getMainMenu: function() {
                return this.menu
            }
        },
        mounted: function() {

        }
    })
</script>